<div class="container">
    <div class="img-container">
        <a href="/index.html">
        <img src="../../../assets/pngwing.com (2).png" alt="">
        </a>
    </div>
    <form action="">
        <h1>Login</h1>
        <label for="Email"><fa-icon [icon]="faEnvelope"></fa-icon>Email</label>
        <input type="text" placeholder="Email">
        <label for="Password"><fa-icon [icon]="faLock"></fa-icon>Password</label>
        <input type="password" placeholder="password">
        <input class="login-btn" type="submit" value="Login">
        <p class="text-center">
            If you don't have account, 
            <a routerLink="/register">Register</a>
          </p>
    </form>
    
</div>