.img-container{
    display: flex;
}
.img-container img{
    width: 100px;
    transition-delay: 0.04s;
    transition-duration: 0.05s;
    margin-left:80px;
}

.img-container img:hover{
    border-radius: 50%;
    background-color: white;
}

.container{
    text-align: center;
    background-image: url('../../../assets/dogs-cover.jpg');
    background-size: cover;
    height: 100vh;
}

.error{
    color: red;
}

form{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 25%;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}

form div{
    display: flex;
    flex-direction: column;
}

form label{
    text-align: start;
    margin-bottom: 5px;
    margin-top: 20px;
}

.login-btn{
    width: 100px;
    margin: 20px auto;
    margin-bottom: 0;
    background-color: rgb(32,32,32);
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 10px;
}
