<div class="main" id="main">
<app-header></app-header>
    <div class="container">
          <h1 class="container-title">
              User Profile
          </h1>
          <section class="container-description" *ngIf="user">
              <div class="user-img-container" *ngIf="user.gender == 'Male'">
                  <img src="../../../assets/male user photo.png" alt="">
              </div>
              <div class="user-img-container" *ngIf="user.gender == 'Female'">
                <img src="../../../assets/Users-User-Female-icon.png" alt="">
            </div>
              <div class="user-description-container">
                <p>Username: <span> {{user.username}}</span></p>
                <p>Email: <span> {{user.email}}</span></p>
                <p>Gender: <span> {{user.gender}}</span></p>
              </div>
          </section>
    </div>
<app-footer></app-footer>
</div>
