<div class="main" id="main">
<app-header></app-header>
    <div class="container">
          <h1 class="container-title">
              User Profile
          </h1>
          <section class="container-description">
              <div class="user-img-container">
                  <img src="../../../assets/male user photo.png" alt="">
              </div>
              <div class="user-description-container">
                <p>Username: <span> Yuliyan</span></p>
                <p>Email: <span> digi7al@abv.bg</span></p>
                <p>Gender: <span> Male</span></p>
                <p>Favourite dog breeds: <span> Pekinesse, German shepherd</span> </p>
              </div>
          </section>
    </div>
<app-footer></app-footer>
</div>

<script>
    document.getElementById("#main").style.backgroundColor = "red";
</script>