
<main>
  <div class="img-container">
    <a href="/index.html">
      <img src="../../../assets/pngwing.com (2).png" alt="" />
    </a>
  </div>
    <form action="">
      <h1>Register</h1>
      <label for="Username"><fa-icon [icon]="faUser"></fa-icon>Username</label>
      <input type="text" placeholder="Username" />
      <label for="Email"><fa-icon [icon]="faEnvelope"></fa-icon>Email</label>
      <input type="text" placeholder="Email" />
      <label for="Password"><fa-icon [icon]="faLock"></fa-icon>Password</label>
      <input type="password" placeholder="password" />
      <label for="RepeatPassword"><fa-icon [icon]="faLock"></fa-icon>Repeat Password</label>
      <input type="repeat-password" placeholder="Repeat Password" />
      <label for="cars"><fa-icon [icon]="faVenusMars"></fa-icon>Gender</label>
      <select id="cars" name="cars">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <input class="login-btn" type="submit" value="Register" />
      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </form>
  </main>