<main>
  <div class="img-container">
    <a href="/index.html">
      <img src="../../../assets/pngwing.com (2).png" alt="" />
    </a>
  </div>
    <form #form="ngForm" *ngIf="!isLoggedIn" (ngSubmit)="form.valid && onSubmit(form)">
      <h1>Register</h1>
      <div>
      <label for="Username"><fa-icon [icon]="faUser"></fa-icon>Username</label>
      <input #username = "ngModel" ngModel name="username" [minlength]="4" type="text" placeholder="Username" required />
      <ng-container *ngIf="username.touched">
        <small *ngIf="username.errors?.required" class="error">
            Username is required.
          </small>
          <small *ngIf="username.errors?.minlength" class="error">
            Username must be at least 4 characters long.
          </small>
        </ng-container>
      </div>
      <div>
      <label for="Email"><fa-icon [icon]="faEnvelope"></fa-icon>Email</label>
      <input #email="ngModel" ngModel name="email" email type="text" placeholder="Email" required />
      <ng-container *ngIf="email.touched">
        <small *ngIf="email.errors?.required" class="error">
            Email is required.
          </small>
          <small *ngIf="email.errors" class="error">
            Email must have a '@'.
          </small>
        </ng-container>
      </div>
      <div>
      <label for="Password"><fa-icon [icon]="faLock"></fa-icon>Password</label>
      <input #password="ngModel" ngModel name="password" [minlength]="6" type="password" placeholder="password" required />
      <ng-container *ngIf="password.touched">
        <small *ngIf="password.errors?.required" class="error">
            Password is required.
          </small>
          <small *ngIf="password.errors" class="error">
            Password must be at least 6 characters long.
          </small>
        </ng-container>
      </div>
      <div>
      <label for="cars"><fa-icon [icon]="faVenusMars"></fa-icon>Gender</label>
      <select  [(ngModel)]="genderSelected" name="gender" id="cars" name="cars" required>
        <option *ngFor="let g of gender" [value]="g.name">
          {{g.name}}
        </option>
      </select>
    </div>
    <button class="login-btn">Register</button>
      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </form>
  </main>