

    <nav class="nav-menu">
        <div class="img-container">
            <a routerLink="/">
            <img src="../../../assets/pngwing.com (2).png" alt="">
            </a>
        </div>
        <ul class="not-logged" *ngIf="!isLogged()">
            <li class="nav-menu-item">
                <a routerLink="/login">Login</a>
            </li>
            <li class="nav-menu-item">
                <a routerLink="/register">Register</a>
            </li>
        </ul>
        <ul class="menu-with-buttons" *ngIf="isLogged()">
            <li>
              <a class="button" routerLink="/home" routerLinkActive="active">Dog breeds</a>
            </li>
            <li>
              <a class="button" routerLink="/dog-add" routerLinkActive="active">Add breed</a>
            </li>
            <li>
              <a class="button" routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>
          </ul>
          <nav class="nav-menu" *ngIf="isLogged()">
            <ul>
              <li class="nav-menu-item">
                <a  class="logout-btn">Logout</a>
              </li>
            </ul>
    </nav>

