<app-header></app-header>
<div class="container">
    <section *ngIf="dog" class="img-main-container">
        <img [src]="dog.imgUrl" alt="">
    </section>
    <section *ngIf="dog" class="description-container">
            <h2><span>{{dog.breed}}</span></h2>
            <h2>Description:</h2>
            <p>
                {{dog.description}}
            </p>
            <h2>
                Weight:
            </h2>
            <p>
                {{dog.maleWeight}}
            </p> 
            <p>
                {{dog.femaleWeight}}
            </p>   
            <h2>
                How long do they live?
            </h2>
            <p>
                {{dog.life}}
            </p>   
            <button (click)="addToFavourite()" class="favourite">Add to favourite</button> 
            <button *ngIf="username == dog.username" (click)="deleteDog()"  class="delete">Delete</button> 
            <p style="font-weight: bolder;">
                Added by {{dog.username}}
            </p>
    </section>
</div>
<div class="user-comments">
    <h1>Comments</h1>
    <!-- <section class="user-comment">
        <div class="user-photo-container">
            <img src="../../../assets/male user photo.png" alt="">
        </div>
        <div class="comment-container">
            <h3>Yuliyan</h3>
            <p>
                Very smart and clean dog. I want it!
            </p>
            <p class="date">
                Date: 27.07.2021:00:48h
            </p>
        </div>
    </section>
    <section class="user-comment">
        <div class="user-photo-container">
            <img src="../../../assets/Users-User-Female-icon.png" alt="">
        </div>
        <div class="comment-container">
            <h3>Iliyana</h3>
            <p>
                So beautiful dog. I love it!
            </p>
            <p class="date">
                Date: 27.07.2021:00:57h
            </p>
        </div>
    </section> -->
    
    <section *ngFor="let comment of comments" >
        <div class="user-comment" *ngIf="comment.dog.breed == dog.breed">
        <div class="user-photo-container" *ngIf="comment.user.gender== 'Male'">
            <img src="../../../assets/male user photo.png" alt="">
        </div>
        <div class="user-photo-container" *ngIf="comment.user.gender == 'Female'">
            <img src="../../../assets/Users-User-Female-icon.png" alt="">
        </div>
        <div class="comment-container">
            <h3>{{comment.user.username}}</h3>
            <p>
               {{comment.comment}}
            </p>
            <p class="date" style="text-align: right;">
                {{comment.dateAndTime}}
            </p>
        </div>
    </div>
    </section>
    
    <section class="add-comment">
        <h3 class="comment-title">
            Write your comment here:
        </h3>
        <form #form="ngForm" (ngSubmit)="addComment(form)">
            <input #comment = "ngModel" ngModel type="text" name="comment" id="comment" required>
        <button class="comment-btn">Add comment</button>
        </form>
    </section>
</div>
<app-footer></app-footer>